/* ======================== variables ============================ */
$brand-color : #F9B217;
$primary-color : #000;
$light-gray : #333;
$box-color : #333;
$bg : #363636;
/* ======================== variables ============================ */